<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }} - Blog</title>
    <script src="https://kit.fontawesome.com/1fb217f3df.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
  <a href="/blog/">Blog</a>
</nav>
{%
<img class="img-fluid rounded" src="{{ post.head_image.url}}" alt=" ">
<h1>{{ post.title }}</h1>
<h4>{{ post.created_at }}</h4>
<p>{{ post.content }}</p>

{% if post.file_upload %}
    <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button">
        Download:

        {% if post.get_file_ext == 'csv' %}
            <i class="fas fa-file-csv"></i>
        {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
            <i class="fas fa-file-excel"></i>
        {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
            <i class="fas fa-file-word"></i>
        {% else %}
            <i class="far fa-file"></i>
        {% endif %}
        {{ post.get_file_name }}
    </a>
{% endif %}
<hr/>
</body>
</html>